APP_NAME="Welly Songket"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/welly-songket/public
APP_TIMEZONE=Asia/Jakarta
UPLOAD_MAX_SIZE=20971520
SESSION_NAME=WELLY_SESSION
SESSION_LIFETIME=120
ADMIN_PASSWORD=admin123
WHATSAPP_NUMBER=628123456789
INSTAGRAM_URL=https://instagram.com/
TIKTOK_URL=https://tiktok.com/@
