/vendor/

/storage/cache/*
!/storage/cache/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

/storage/sessions/*
!/storage/sessions/.gitignore

/public/uploads/*
!/public/uploads/.gitignore

.env

.idea/
.vscode/

.DS_Store
Thumbs.db